%meta{charset: "utf-8"}
%meta{name: "viewport", content: "width=device-width"}
%meta{name: "format-detection", content: "telephone=no"}
%meta{name: "description", content: ""}
%meta{name: "keywords", content: ""}
%link{rel: "author", href: "/humans.txt"}
%link{rel: "icon", href: "/favicon.ico"}
%link{rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "57x57", href: "/apple-touch-icon-57x57-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png"}
%link{rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png"}
%link{rel: "stylesheet", href: "/assets/stylesheets/application.css"}
%script{src: "/assets/javascripts/vendor/yepnope.1.5.4-min.js"} // .. 1.5.4
%script{src: "/assets/javascripts/vendor/modernizr-latest.js"} // .. 2.7.1
%script{src: "/assets/javascripts/application.js"}