input, textarea {resize: none;}

//
// .. Layout
//
.form_el.__block {
  display: block;
  width: 100%;
}

//
// .. Checkbox, radio, file, select
//  
.form_el.__fake {
  position: relative;
  display: inline-block;
}

//
// .. Checkbox, radio
//
.form_checkbox,
.form_radio {
  &.__fake[data-checked="true"]::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    line-height: inherit;
  }
  &.__real {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

//
// .. File, select
//
.form_file,
.form_select {
  &.__fake {
    &::after {
      position: absolute;
      top: 50%;
      z-index: 1;
    }
    > p {
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &.__real {
    position: absolute;
    z-index: 2;
  }
}

//
// .. File
//
.form_file.__real {
  visibility: hidden;
  width: 0;
  height: 0;
}

//
// .. Select
//
.form_select.__real {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

//
// .. Label
//
.form_label {
  display: inline-block;
  .form_checkbox,
  .form_radio {
    &.__fake {position: relative;}
  }
}

.form {
  //
  // .. Reqiured
  //
  [data-required="before"],
  [data-required="after"] {position: relative;}
  [data-required="before"]::before,
  [data-required="after"]::after {position: absolute;}
}