html {height: 100%;}

button, input, select, textarea,
th, td { @include prefixes(box-sizing, border-box); }

img {
  max-width: 100%;
  &[width],
  &[height] {max-width: none;}
}

figure > img {display: block;}



//****************************************************************************************************
//
// .. PROPERTIES
//
//****************************************************************************************************
//
// .. Display
//
.d-n  {display: none;}
.d-i  {display: inline;}
.d-b  {display: block;}
.d-ib {display: inline-block;}

//
// .. Float
//
.f-n {float: none;}
.f-l {float: left;}
.f-r {float: right;}

//
// .. Overflow
//
.o-n  {overflow: none;}
.o-h  {overflow: hidden;}
.ox-h {
  -ms-overflow-x: hidden;
      overflow-x: hidden;
}
.oy-h {
  -ms-overflow-y: hidden;
      overflow-y: hidden;
}

//
// .. Position
//
.p-a {position: absolute;}
.p-r {position: relative;}
.p-f {position: fixed;}
.p-s {position: static;}

//
// .. Visibility
//
.hidden  {visibility: hidden;}
.visible {visibility: visible;}

//
// .. White-space, word-wrap
//
.nowrap  {white-space: nowrap;}
.br-word {word-wrap: break-word;}



//****************************************************************************************************
//
// .. HELPERS
//
//****************************************************************************************************
//
// .. Block centering
//
.b-center {
  display: block !important;
  margin-left:  auto !important;
  margin-right: auto !important;
}

//
// .. Clearfix
//
.cf::after {
  clear: both;
  content: "";
  display: table;
}

//
// .. Container
//
.ctn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @if $grid == "fixed" { width: #{$grid-fixed-ctn-width - $grid-fixed-col-gutter}px; }
  @if $grid == "fluid" {
    min-width: nth($min-width-list, 1);
    max-width: nth($max-width-list, 1);
    width:     nth($ctn-width-list, 1);
  }
}

//
// .. Scrollwidth
//
.scrollbar-measure {
  position: absolute;
  top: -9999px;
  overflow: scroll;
  width: 100px;
  height: 100px;
}