@mixin media-query($media-query) {

  @if $media-query == "phone" {
    @media all and (max-width: (nth($max-width-list, 3) + 20)) { @content; }
  }

  @if $media-query == "tablet" {
    @media all and (min-width: (nth($min-width-list, 2) + 21)) and (max-width: (nth($max-width-list, 2) + 20)) { @content; }
  }

  @if $media-query == "desktop" {
    @media all and (min-width: (nth($min-width-list, 1) + 21)) { @content; }
  }

}



@mixin prefixes($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}



@mixin linear-gradient($direction, $start, $end) {
  background: $start;
  @if ($direction == "horizontal") {
    background: -webkit-linear-gradient(left, $start 0%, $end 100%);
    background:         linear-gradient(to right, $start 0%, $end 100%);
  }
  @else if ($direction == "vertical") {
    background: -webkit-linear-gradient(top, $start 0%, $end 100%);
    background:         linear-gradient(to bottom, $start 0%, $end 100%);
  }
}