a {
  color: $link-color;
  &:hover,
  &.hover  {color: $link-color-hover;}
  &:active {color: $link-color-active;}
  @if $focus == true {
    &:focus { @extend %focus-style; }
  }
}

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  > a,
  > a > i,
  > .a.__inner > span {
    text-decoration: none;
    @if $link-style == un or $link-style == nu { 
      @include prefixes(transition, color .33s);
    }
  }
}

.a.__inner {
  text-decoration: none;
  > i {vertical-align: middle;}
}



//****************************************************************************************************
//
// .. LINKS
//
//****************************************************************************************************
@if $link-style == nn or $link-style == uu { 
  
  a { @include prefixes(transition, color .33s); } 

}

@if $link-style == nn {
  
  a, a:hover {text-decoration: none;}

} @else if $link-style == uu {
  
  a, a:hover,
  .a.__inner > span {text-decoration: underline;}
  .a.__inner:hover {text-decoration: none;}

} @else if $link-style == un {
  
  a, .a.__inner > span {text-decoration: underline;}
  a:hover, .a.__inner:hover > span {text-decoration: none;}

} @else if $link-style == nu {
  
  a, .a.__inner:hover {text-decoration: none;}
  a:hover, .a.__inner:hover > span {text-decoration: underline;}

}



//****************************************************************************************************
//
// .. PSEUDOLINKS
//
//****************************************************************************************************
.a.__pseudo,
.a.__pseudo:hover,
.a.__pseudo.hover,
.a.__pseudo.__inner > span {text-decoration: none;}

@if $link-style-pseudo == nn {
  
  .a.__pseudo { @include prefixes(transition, color .33s); }
  .a.__pseudo,
  .a.__pseudo:hover,
  .a.__pseudo.hover,
  .a.__pseudo.__inner > span {border-bottom: none;}

} @else if $link-style-pseudo == uu {
  
  .a.__pseudo { @include prefixes(transition, #{border .33s, color .33s}); }
  .a.__pseudo,
  .a.__pseudo.__inner > span {border-bottom: .1em dotted $link-color;}
  .a.__pseudo:hover,
  .a.__pseudo.hover,
  .a.__pseudo.__inner:hover > span,
  .a.__pseudo.__inner.hover > span {border-bottom-color: $link-color-hover;}
  .a.__pseudo:active,
  .a.__pseudo.__inner:active > span {border-bottom-color: $link-color-active;}
  .a.__pseudo.__inner {border-bottom-color: transparent;}

} @else if $link-style-pseudo == un {
  
  .a.__pseudo { @include prefixes(transition, none); }
  .a.__pseudo,
  .a.__pseudo.__inner > span {border-bottom: .1em dotted $link-color;}
  .a.__pseudo.__inner,
  .a.__pseudo:hover,
  .a.__pseudo.hover,
  .a.__pseudo.__inner:hover > span,
  .a.__pseudo.__inner.hover > span {border-bottom-color: transparent;}  

}