html {
  @if $grid == "fixed" or $grid == "fluid" {font-size: nth($root-font-size-list, 1);}
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  // @if $grid == "fixed" {min-width: #{$grid-fixed-ctn-width}px;}
  @if $grid == "fluid" {min-width: (nth($min-width-list, 1) + 20);}
  background-color:  $base-bg;
  background-image: url(/assets/images/backgrounds/space_01.jpg);
  background-position: center;
  background-size: cover;
  color:       $base-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  overflow: hidden;
  -webkit-backface-visibility: hidden; // .. http://goo.gl/bNpRD4
}

img {font-style: italic;}



//****************************************************************************************************
//
// .. HEADINGS
//
//****************************************************************************************************
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {font-family: $h-font-family;}

@if $grid == "fixed" or $grid == "fluid"  {
  
  body {
    font-size:   nth($base-font-size-list, 1);
    line-height: nth($base-line-height-list, 1);
  }

  h1, .alpha {
    font-size:   nth($h1-font-size-list, 1);
    font-weight: nth($h1-font-weight-list, 1); 
    line-height: nth($h1-line-height-list, 1);
  }
  h2, .beta {
    font-size:   nth($h2-font-size-list, 1);
    font-weight: nth($h2-font-weight-list, 1);
    line-height: nth($h2-line-height-list, 1);
  }
  h3, .gamma {
    font-size:   nth($h3-font-size-list, 1);
    font-weight: nth($h3-font-weight-list, 1);
    line-height: nth($h3-line-height-list, 1);
  }
  h4, .delta {
    font-size:   nth($h4-font-size-list, 1);
    font-weight: nth($h4-font-weight-list, 1);
    line-height: nth($h4-line-height-list, 1);
  }
  h5, .epsilon {
    font-size:   nth($h5-font-size-list, 1);
    font-weight: nth($h5-font-weight-list, 1);
    line-height: nth($h5-line-height-list, 1);
  }
  h6, .zeta {
    font-size:   nth($h6-font-size-list, 1);
    font-weight: nth($h6-font-weight-list, 1);
    line-height: nth($h6-line-height-list, 1);
  }

}



//****************************************************************************************************
//
// .. PROPERTIES
//
//****************************************************************************************************
//
// .. Cursors
//
.c-d {cursor: default;}
.c-p {cursor: pointer;}

//
// .. Font-style
//
.fs-i {font-style: italic;}

//
// .. Font-weight
//
@for $i from 1 through 9 {
  $i: $i * 100;
  .fw-#{$i} {font-weight: $i;}
}

//
// .. Vertical-align
//
.va-bl {vertical-align: baseline;}
.va-t  {vertical-align: top;}
.va-m  {vertical-align: middle;}
.va-b  {vertical-align: bottom;}



//****************************************************************************************************
//
// .. HELPERS
//
//****************************************************************************************************
//
// .. Currency
//
.format-money > i {font-size: 95%;}

//
// .. Numbered list
//
.numbered {list-style: decimal outside;}

//
// .. Round
//
.round {border-radius: 50%;}

//
// .. Text
//
.tx {
  &[class*="__cols-"] { @include prefixes(column-gap, 2%); }
  
  @for $i from 2 through 4 {
    @if $grid == "fixed" { &.__cols-#{$i} { @include prefixes(column-count, $i);} }
    @if $grid == "fluid" { &.__cols-#{$i} { @include prefixes(column-count, $i);} }
  }
  
  &.__color {
    &.__black  {color: black;}
    &.__gray   {color: gray;}
    &.__silver {color: silver;}
    &.__white  {color: white;}
  }

  &.__xxs {font-size: $tx-xxs-font-size;}
  &.__xs  {font-size: $tx-xs-font-size;}
  &.__s   {font-size: $tx-s-font-size;}
  &.__m   {font-size: $tx-m-font-size;}
  &.__l   {font-size: $tx-l-font-size;}
  &.__xl  {font-size: $tx-xl-font-size;}
  &.__xxl {font-size: $tx-xxl-font-size;}

  &.__left   {text-align: left;}
  &.__center {text-align: center;}
  &.__right  {text-align: right;}
  
  &.__cap   {text-transform: capitalize;}
  &.__lower {text-transform: lowercase;}
  &.__upper {text-transform: uppercase;}
}